@font-face {
    font-family: 'Norse';
    src: url('NurseBold/Norse-Bold.woff2') format('woff2'),
        url('NurseBold/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

:root{
  --SmokedWhite:#f9fafb;
  --DarkerWhite:#fffefe;
  --White: #ffffff;
  --Green: #596d48;
  --Blue: #6989e2;
  --Red:#c13636;
  --FieldFontColor: #5a626c;
  --FormTitleColor: #545f70;
}
#leftSide{
    background-image: url("background.jpg");
    background-size: cover;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20vh;
    padding-bottom: 10px;
}

#rightSide{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: var(--SmokedWhite);
}
#body{
    display: flex;
}
#logo{
    background-color: rgb(0 0 0/0.45);
    display: flex;
    justify-content:  center;
    color: white;
    /* padding-top: 30px; */
    padding-top: 2.7vh;
    img{
        /* height: 150px; */
        height: 13.5vh;
    }
    span{
        font-family: Norse;
        font-size: bold;
        /* font-size: 120px; */
        font-size: 10.8vh;
    }
}
#credits{
    color: white;
    text-align: center;
    font-family: sans-serif;
    a{
      color: inherit;
    }
}

#longerText, #shorterText{
  padding-left: 2.5%;
  font-size: 24px;
  font-weight: bold;
  padding-right:18%;
  font-family: sans-serif;
}

#divForm{
  background-color: var(--White);
  box-shadow: 0px 3px 7px grey ;
  padding: 10px 2.5%;
  h1{
    color:var(--FormTitleColor);
    font-weight: 700;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
  }
}
label{
  font-family: monospace;
  color: var(--FieldFontColor);
  font-weight: 600;
}
.field{
  display: flex;
  flex-direction: column;
  width: max(25%, 200px);
  flex: none;
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  gap:5%
}
input{
  border: 1px solid grey;
  height: 30px;
  border-radius: 5px;
  background-color: var(--DarkerWhite);
  width: 100%;
}
span{
  position: relative;
}
input:required:invalid ~ span::before{
  position: absolute;
  color: red;
  content: "*";
  font-weight: bold;
  font-size: 30px;
  right: 6px;
  top: -10px;
}
input:focus{
  border:2px solid var(--Blue);
  box-shadow: none;
  outline: none;
  background-color: white;
  box-shadow: 0px 0px 3px grey;
}
input:user-invalid{
  border:2px solid var(--Red);
}
#divButton{
  padding-left: 2.5%;
}

button{
  background-color: var(--Green);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  width: 240px;
  height: 48px;
}
